<!-- Clients Aside -->
    <section id="affinity">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Affinity Groups in NLP/AI</h2>
                    <h3 class="section-subheading text-muted">Here are some affinity groups that contribute to diversity, equity and inclusion in NLP/AI.<br />Please contact us if you would like to be added or removed from the list.</h3>
                </div>
            </div>
            <div class="row text-left">
                <h4 class="section-subheading">
                    Affiliated with EquiCL:
                </h4>
            </div>
            <div class="row text-left">
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://ethionlp.github.io/">
                        <i class="fa fa-link"></i> Ethio NLP
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://somosnlp.org">
                        <i class="fa fa-link"></i> SomosNLP
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.winlp.org/">
                        <i class="fa fa-link"></i> Widening NLP
                    </a>
                </div>
            </div>
            <div class="row text-left">
                <h4 class="section-subheading">
                    Other affinity groups:
                </h4>
            </div>
            <div class="row text-left">
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://sites.google.com/view/africanlp2025/home">
                        <i class="fa fa-link"></i> AfricaNLP
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://turing.iimas.unam.mx/americasnlp/index.html">
                        <i class="fa fa-link"></i> AmericasNLP
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.sigarab.org/">
                        <i class="fa fa-link"></i> Arabic NLP
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.blackinai.org/">
                        <i class="fa fa-link"></i> Black in AI
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.linkedin.com/company/global-south-in-ai">
                        <i class="fa fa-link"></i> Global South in AI
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://indigenousinai.org/">
                        <i class="fa fa-link"></i> Indigenous in AI
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.latinxinai.org/">
                        <i class="fa fa-link"></i> LatinX in AI
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.masakhane.io/">
                        <i class="fa fa-link"></i> Masakhane
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.musiml.org/">
                        <i class="fa fa-link"></i> Muslims in ML
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://sites.google.com/view/northafricansinnlp/home">
                        <i class="fa fa-link"></i> North Africans in NLP
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.queerinai.com/">
                        <i class="fa fa-link"></i> Queer in AI
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.sigsea.org/">
                        <i class="fa fa-link"></i> Southeast Asian NLP
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.wiml.org/">
                        <i class="fa fa-link"></i> Women in ML
                    </a>
                </div>
            </div>
        </div>
    </section>