<!-- Clients Aside -->
    <section id="affinity">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Affinity Groups in NLP/AI</h2>
                    <h3 class="section-subheading text-muted">Here are some affinity groups that contribute to diversity, equity and inclusion in NLP/AI.<br />Please contact us if you would like to be added or removed from the list.</h3>
                </div>
            </div>
            <div class="row text-left">
                Affiliated with EquiCL:
            </div>
            <div class="row text-left">
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://ethionlp.github.io/">
                        <i class="fa fa-link"></i> Ethio NLP
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.winlp.org/">
                        <i class="fa fa-link"></i> Widening NLP
                    </a>
                </div>
            </div>
            <div class="row text-left">
                Other affinity groups:
            </div>
            <div class="row text-left">
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://sites.google.com/view/africanlp2025/home">
                        <i class="fa fa-link">AfricaNLP</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://turing.iimas.unam.mx/americasnlp/index.html">
                        <i class="fa fa-link">AmericasNLP</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.sigarab.org/">
                        <i class="fa fa-link">Arabic NLP</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.blackinai.org/">
                        <i class="fa fa-link">Black in AI</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.linkedin.com/company/global-south-in-ai">
                        <i class="fa fa-link">Global South in AI</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://indigenousinai.org/">
                        <i class="fa fa-link">Indigenous in AI</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.latinxinai.org/">
                        <i class="fa fa-link">LatinX in AI</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.masakhane.io/">
                        <i class="fa fa-link">Masakhane</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.musiml.org/">
                        <i class="fa fa-link">Muslims in ML</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://sites.google.com/view/northafricansinnlp/home">
                        <i class="fa fa-link">North Africans in NLP</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.queerinai.com/">
                        <i class="fa fa-link">Queer in AI</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.sigsea.org/">
                        <i class="fa fa-link">Southeast Asian NLP</i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a target="_blank" href="https://www.wiml.org/">
                        <i class="fa fa-link">Women in ML</i>
                    </a>
                </div>
            </div>
        </div>
    </section>