<!-- Services Section -->
    <section id="resources">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resources</h2>
                    <h3 class="section-subheading text-muted">Here are some resources for our members, affinity groups and D&I chairs.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a target="_blank" href="doc/EquiCL_Constitution.pdf">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Constitution</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a target="_blank" href="https://aclweb.org/adminwiki/index.php/2024Q3_Reports:_EquiCL">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-file-archive-o fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Latest report to ACL</h4>
                    </a>    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Conference D&I chair starting kit</h4>
                    <p class="text-muted">Please contact our technical officer for access.</p>
                </div>
            </div>
        </div>
    </section>